<div class="hero-academic">
  <div class="hero-image">
    {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
    {% if page.profile.image_circular %}
      {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
    {% else %}
      {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
    {% endif %}
    {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
    {%
      include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
      cache_bust=true
    %}
    {% comment %} <img src="/assets/img/rhino.png" alt="Profile photo" /> {% endcomment %}
  </div>

  <div class="hero-content">
    <h1 class="hero-sketch-text">Hi, I’m Ezekiel.</h1>

    <p class="hero-affiliation">
        {{ page.profile.affiliation }}
    </p>

    <p class="hero-subtitle">
      I work on digital systems, software engineering, and applied research.
    </p>

    <a href="/projects/" class="hero-button">
      View My Work
    </a>
  </div>
</div>
